<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>VitalizeBank</title>
  <div id="header">
    <div th:replace="commons/header :: header"></div>
  </div>
  <link rel="stylesheet" href="/css/bootstrap.css"/>
  <link rel="stylesheet" href="/css/list.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-4">
          <h2>権限 一覧</h2>
        </div>
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
      <tr class="heading-td">
        <th><p th:text="#{mstAuthId}"></p></th>
        <th><p th:text="#{status}"></p></th>
        <th><p th:text="#{authCode}"></p></th>
        <th><p th:text="#{insertDate}"></p></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="mstAuth : ${mstAuthlist}" th:object="${mstAuth}">
        <td class="center" th:text="*{id}"></td>
        <td class="center" th:text="*{status}"></td>
        <td class="center" th:text="*{authCode}"></td>
        <td class="center" th:text="${#dates.format(mstAuth.insertDate, 'yyyy/MM/dd')}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
