<!DOCTYPE html>

<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <div th:fragment="InputField" th:remove="tag">
      <input type="hidden" value="3" name="type" />
      <div class="form-group col-sm-8">
        <label><p th:text="#{newPayAccountNumber}"></p></label><span class="text-danger">※必須</span><br/>
        <select class="form-control form-control-sm col-sm-8" name="accountNumber" required="required" >
          <option value=""></option>
          <option th:each="account : ${accountList}" th:value="${account}"
                  th:text="${account}"></option>
        </select>
      </div>
      <div class="form-group col-sm-8">
        <label><p th:text="#{tradingAccountNumber}"></p></label><span class="text-danger">※必須</span><br/>
        <select class="form-control form-controls-sm col-sm-8" name="payAccountNumber" required="required">
          <option value=""></option>
          <option th:each="account : ${accountList}" th:value="${account}"
                  th:text="${account}"></option>
        </select>
      </div>
      <div class="form-group col-sm-8">
        <label class="col-form-label col-form-label-sm"><p th:text="#{tradingAmount}"></p></label><span class="text-danger">※必須</span><br/>
        <input class="form-control" type="number" placeholder="出金" required="required" min="1000" max="200000" name="amount" />
      </div>
    </div>
  </body>
</html>