<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <div th:fragment="InputField" th:remove="tag">
      <input type="hidden" value="2" name="type" />
      <div class="form-group col-sm-8">
        <label>出金口座番号</label>
        <select class="form-control form-control-sm col-sm-8" name="accountNumber">
          <option value=""></option>
          <option th:each="account : ${accountList}" th:value="${account}"
                  th:text="${account}"></option>
        </select>
      </div>
      <div class="form-group col-sm-8">
        <label class="col-form-label col-form-label-sm">出金額</label>
        <input class="form-control" type="number" placeholder="出金" required="required" min="1000" name="amount" />
      </div>
    </div>
  </body>
</html>
