<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>VitalizeBank</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/header.css"/>
</head>
<body>
<header th:fragment="header" th:remove="tag">
  <nav class="navbar navbar-inverse navbar-expand-xl navbar-dark">
    <div class="navbar-header d-flex col">
      <a class="navbar-brand" href="#"><i class="fa fa-free-code-camp"></i>Vitalize<b>Bank</b></a>
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse"
              class="navbar-toggle navbar-toggler ml-auto">
        <span class="navbar-toggler-icon"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
      <ul class="nav navbar-nav navbar-right ml-auto">
        <li class="nav-item dropdown">
          <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><i
            class="fa fa-address-card"></i><span>社員</span></a>
          <ul class="dropdown-menu">
            <li><a href="http://localhost:8081/mst_user/list" class="dropdown-item">社員</a></li>
            <li><a href="http://localhost:8081/mst_auth/list" class="dropdown-item">権限</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><i
            class="fa fa-money"></i><span>顧客</span></a>
          <ul class="dropdown-menu">
            <li><a href="http://localhost:8081/client/list" class="dropdown-item">顧客</a></li>
            <li><a href="http://localhost:8081/account/list" class="dropdown-item">口座</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><i class="fa fa-calendar-o"></i><span>振込</span></a>
          <ul class="dropdown-menu">
            <li><a href="http://localhost:8081/transaction/add" class="dropdown-item">振込</a></li>
            <li><a href="http://localhost:8081/transaction/list" class="dropdown-item">取引履歴</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"> テストユーザー様 <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#" class="dropdown-item"><i class="material-icons">&#xE8AC;</i>ログアウト</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
</body>
</html>