<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
  </head>
  <div th:fragment="search" th:remove="tag">
    <form action="/mst_fee/list" th:method="get" th:object="${searchForm}">
      <div class="table-filter">
        <div class="mb-3">
          <div class="row">
            <div class="form-group col-2">
              <label class="col-form-label col-form-label-sm"><p th:text="#{mstFeeId}"></p></label>
              <input type="text" class="form-control" id="id" name="id" placeholder="数値入力欄"
                     th:value="${searchForm.id}"/>
              <label class="col-form-label col-form-label-sm"><p th:text="#{branchCode}"></p></label>
              <select id="branchCode" name="branchCode" type="text" class="col-form-label col-form-label-sm"th:value="${searchForm.branchCode}"/>
              <option value="">検索なし</option>
              <option value="新宿支店">新宿支店</option>
              <option value="宮崎支店">宮崎支店</option>
              <option value="喜界島支店">喜界島支店</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <button type="submit" class="btn btn-primary" style="float:none;"><i class="fa fa-search"></i><span>検索</span></button>
              <button type="button" class="btn btn-link"><a href="http://localhost:8081/mst_fee/list">クリア</a></button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</html>