<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>VitalizeBank</title>
  <div id="header">
    <div th:replace="commons/header :: header"></div>
  </div>
  <link rel="stylesheet" href="/css/bootstrap.css"/>
  <link rel="stylesheet" href="/css/list.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="signup-form">
  <form th:action="@{/account/add}" th:method="post">
    <h2>口座 編集</h2>
    <div th:replace="~{account/parts/account :: InputField}"></div>
    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" type="submit">更新</button>
    </div>
  </form>
  <div class="pull-right">
    <a class="btn btn-info" href="/account/list">一覧画面へ</a>
  </div>
</div>
</body>
</html>