<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>VitalizeBank</title>
  <div id="header">
    <div th:replace="commons/header :: header"></div>
  </div>
  <link rel="stylesheet" href="/css/bootstrap.css"/>
  <link rel="stylesheet" href="/css/list.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div th:if="${redirectParameter}" class="alert alert-danger" role="alert"><p th:text="${redirectParameter}"></p></div>
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-4">
          <h2>口座 一覧</h2>
        </div>
      </div>
    </div>
    <div th:replace="account/parts/search :: search"></div>
    <div class="col-sm-8">
      <div th:replace="commons/page :: page"></div>
    </div>
    <table class="table table-bordered">
      <thead>
      <tr class="heading-td">
        <th><p th:text="#{view}"></p></th>
        <th><p th:text="#{accountId}"></p></th>
        <th><p th:text="#{accountNumber}"></p></th>
        <th><p th:text="#{branchCode}"></p></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="accountLists:${accountList}" th:object="${accountLists}">
        <td><a class="view" th:href="@{/account/{id}(id=*{id})}" title="View" data-toggle="tooltip"><i
          class="material-icons">&#xE417;</i></a></td>
        <td th:text="*{id}"></td>
        <td th:text="*{accountNumber}"></td>
        <td th:text="*{branchCode}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
