<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <title>VitalizeBank</title>
  <div th:replace="commons/header :: header"></div>
  <link rel="stylesheet" href="/css/bootstrap.css"/>
  <link rel="stylesheet" href="/css/list.css"/>
  <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div id="content">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-4">
            <h2>振込　登録</h2>
          </div>
        </div>
      </div>
      <div class="mx-auto">
        <div class="row">
          <main class="p-3">
            <!-- タブ -->
            <ul class="nav nav-tabs centered col-sm-8">
              <li class="nav-item active">
                <a href="#photo1" class="nav-link" data-toggle="tab">お預入れ</a>
              </li>
              <li class="nav-item">
                <a href="#photo2" class="nav-link" data-toggle="tab">お引出し</a>
              </li>
              <li class="nav-item">
                <a href="#photo3" class="nav-link" data-toggle="tab">お振込</a>
              </li>
            </ul>
            <div class="row">
              <!-- タブ -->
              <div class="tab-content">
                <div id="photo1" class="tab-pane active">
                  <form th:action="@{/transaction/add}" th:method="post" th:object="${accountList}">
                    <div class="tab-content">
                      <div th:replace="~{transaction/parts/transactionDeposit :: InputField}"></div>
                      <div class="mx-aut">
                        <div class="tabbable">
                          <ul class="nav tab-group col-sm-6">
                            <li class="active">
                              <a href="#photo4" data-toggle="tab">最短日数</a>
                            </li>
                            <li>
                              <a href="#photo5" class="nav-link" data-toggle="tab">日付を指定する</a>
                            </li>
                          </ul>
                        </div>
                        <!-- タブ -->
                        <div class="tab-content">
                          <div id="photo4" class="tab-pane active ">
                            <div th:replace="~{transaction/parts/tradingCalendarNodate :: InputField}"></div>
                          </div>
                          <div id="photo5" class="tab-pane">
                            <div th:replace="~{transaction/parts/tradingCalendar :: InputField}"></div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-sm-8">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">作成</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div id="photo2" class="tab-pane">
                  <form th:action="@{/transaction/add}" th:method="post">
                    <div class="tab-content">
                      <div th:replace="~{transaction/parts/transactionWithdrawal :: InputField}"></div>
                      <div class="mx-aut">
                        <div class="tabbable">
                          <ul class="nav tab-group col-sm-6">
                            <li class="active">
                              <a href="#photo10" data-toggle="tab">最短日数</a>
                            </li>
                            <li>
                              <a href="#photo11" class="nav-link" data-toggle="tab">日付を指定する</a>
                            </li>
                          </ul>
                        </div>
                        <!-- タブ -->
                        <div class="tab-content">
                          <div id="photo10" class="tab-pane active ">
                            <div th:replace="~{transaction/parts/tradingCalendarNodate :: InputField}"></div>
                          </div>
                          <div id="photo11" class="tab-pane">
                            <div th:replace="~{transaction/parts/tradingCalendar :: InputField}"></div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-sm-8">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">作成</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div id="photo3" class="tab-pane">
                  <form th:action="@{/transaction/add}" th:method="post">
                    <div class="tab-content">
                      <div th:replace="~{transaction/parts/transactionRemittance :: InputField}"></div>
                      <div class="mx-aut">
                        <div class="tabbable">
                          <ul class="nav tab-group col-sm-6">
                            <li class="active">
                              <a href="#photo12" data-toggle="tab">最短日数</a>
                            </li>
                            <li>
                              <a href="#photo13" class="nav-link" data-toggle="tab">日付を指定する</a>
                            </li>
                          </ul>
                        </div>
                        <!-- タブ -->
                        <div class="tab-content">
                          <div id="photo12" class="tab-pane active ">
                            <div th:replace="~{transaction/parts/tradingCalendarNodate :: InputField}"></div>
                          </div>
                          <div id="photo13" class="tab-pane">
                            <div th:replace="~{transaction/parts/tradingCalendar :: InputField}"></div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-sm-8">
                        <button class="btn btn-primary btn-lg btn-block" type="submit" data-toggle="modal" data-target="#demoNormalModal">作成</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
      <div class="row">
        <div class="btn">
          <a class="btn btn-info" href="/transaction/list">一覧画面へ</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- モーダルダイアログ -->
<div class="modal fade" id="demoNormalModal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="demoModalTitle">タイトル</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        内容・・・
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-primary">ボタン</button>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
<script>
    flatpickr.localize(flatpickr.l10ns.ja);
    flatpickr('#tradingCalendar', {
        minDate: new Date().fp_incr(+1), //1日後から
        maxDate: new Date().fp_incr(10), //10日後まで
        enableTime: true,
        allowInput: true
    });
</script>
</body>
</html>