<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<div id="header">
  <div th:replace="commons/header :: header"></div>
</div>
<link rel="stylesheet" href="/css/bootstrap.css"/>
<link rel="stylesheet" href="/css/list.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<body>
  <a class="navbar-brand" href="">
    <img class="logo-navbar" src="https://tk.ismcdn.jp/mwimgs/5/6/1140/img_5620986e8d74348928d5d4cf5ffcf5a3208927.jpg"width="1650" height="800">
  </a>
</body>
</html>