<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<div id="header">
  <div th:replace="commons/header :: header"></div>
</div>
<link rel="stylesheet" href="/css/bootstrap.css"/>
<link rel="stylesheet" href="/css/list.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<body>
<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-4">
          <h2>関連サイト</h2>
        </div>
      </div>
    </div>
    <h4><li><a target="_blank" href="https://www.vitalize.co.jp/">vitalize 公式サイト</a></li></h4>
    <h4><li><a target="_blank" href="https://www.wantedly.com/companies/vitalize">vitalize wantedly</a></li></h4>
    <h4><li><a target="_blank" href="https://blog.vitalize.co.jp/">vitalize ブログ</a></li></h4>
  </div>
  <a class="navbar-brand" href="">
    <img class="logo-navbar" src="https://www.vitalize.co.jp/images/ogp.png"width="1100" height="500">
  </a>
</div>
</body>
</html>